<section id="cta">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Engage your website visitors through Prudio.</h1>

        <p class="lead">
          You miss using Slack everywhere, right? Prudio comes to fill that gap. Use Prudio to communicate with your website visitors and get valuable feedback!
        </p>

        <p>
          <a class="btn btn-lg btn-primary" id="try-prudio">Try Prudio</a>
        </p>

        <p>Prudio is a very simple but powerful application. It features realtime facilities and easy installation to get you started. You can check it out yourself, as Prudio is in <strong>private beta.</strong>
        </p>

      </div>
    </div>
  </div>
</section>
