<section id="cta">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Prudio brings Slack to your website.</h1>
        
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, at provident perferendis dignissimos aspernatur eligendi temporibus!
        </p>
        
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis <strong>to get private beta access.</strong>
        </p>
        
        <p>
          <a href="#" class="btn btn-primary btn-lg" id="prudio-button">Try it out right here</a>
        </p>
        
      </div>
    </div>
  </div>
</section>