<section id="features">
  <div class="container">
    
    <h2>Features</h2>
    
    <div class="row">
      <div class="col-sm-6">
        <h3>One line install</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, repudiandae sequi explicabo dolorem quos dolorum suscipit voluptatibus laborum odio soluta molestiae modi cumque aspernatur veniam ipsa consequatur tempore tempora dignissimos.</p>
      </div>
      <div class="col-sm-6">
        <h3>Engage your users</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, repudiandae sequi explicabo dolorem quos dolorum suscipit voluptatibus laborum odio soluta molestiae modi cumque aspernatur veniam ipsa consequatur tempore tempora dignissimos.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <h3>One line install</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, repudiandae sequi explicabo dolorem quos dolorum suscipit voluptatibus laborum odio soluta molestiae modi cumque aspernatur veniam ipsa consequatur tempore tempora dignissimos.</p>
      </div>
      <div class="col-sm-6">
        <h3>Engage your users</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, repudiandae sequi explicabo dolorem quos dolorum suscipit voluptatibus laborum odio soluta molestiae modi cumque aspernatur veniam ipsa consequatur tempore tempora dignissimos.</p>
      </div>
    </div>
    
  </div>
</section>