<section id="features">
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <img class="primary-image" src="images/html.png">
        <h3>Easy integration</h3>
        <p>One line of code is all it takes to start making customers happier.</p>
      </div>
      <div class="col-sm-4">
        <img class="primary-image" src="images/conversion-rate.png">
        <h3>Live chat</h3>
        <p>Talk immediately with customers who are already on your website.</p>
      </div>
      <div class="col-sm-4">
        <img class="primary-image" src="images/clustering.png">
        <h3>Slack integration</h3>
        <p>No need to change your workflow — use Slack's mobile, desktop, and web apps to get started instantly.</p>
      </div>
    </div>
    
  </div>
</section>