<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        
        <div class="vertical-out">
          <div class="vertical-in">
            
          <img src="images/logo-beta.png"></img>
          <h1>Prudio</h1>
          <p class="lead">
            Prudio is the easiest way to engage your website visitors through Slack.
          </p>
          
          {% include registration_form.html %}
          
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>