<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        
        <div class="vertical-out">
          <div class="vertical-in">
            
          <img src="images/logo-beta.png"></img>
          <h1>This is Prudio app</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, sapiente praesentium.
          </p>
          
          <div class="input-group" id="registration-form">
            <input type="email" placeholder="Get yourself access. Write your email."  class="form-control input-lg" required>
            <span class="input-group-btn">
              <button class="btn btn-primary btn-lg" type="button">></button>
            </span>
          </div>
          
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>