.container {
  max-width: 960px;
}

.lead {
  font-size: 1.3em;
}

.vertical-out {
  display: table;
}
.vertical-in {
  display: table-cell;
  vertical-align: middle;
}

#intro {
  background: #444;
  color: white;
  padding: 20px 0;
  text-align: center;
  
  h1, h2, h3, h4 {
    color: inherit;
  }
  
  .vertical-out {
    min-height: 80vh;
  }
  
  .lead {
    font-family: 'Quicksand', Arial, sans-serif;
  }
  
  #registration-form {
    padding: 2em 0;
    width: 100%;
  }
}

#cta {
  box-shadow: inset 0px 10px 13px -10px #333;
  padding: 35px 0;
  text-align: center;
  
}

#features {
  padding: 35px 0;
  text-align: center;
}

#engage {
  background: #444;
  color: white;
  padding: 35px 0;
  text-align: center;
}