<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {{ content }}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="javascripts/mailchimp.jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>

    <!-- THIS IS PRUD.IO -->
    <script src="https://static.prud.io/client.js?appid=6tNF7H4O1Bpl352jGo0YfmK3Vkc8GhMQ" async></script>
    <script>

      // This is optional
      // and there are more options available!

      window._PrudioSettings = {
        title: 'Prudio',
        buttonSelector: '#try-prudio'
      };

    </script>
    <!-- PRUD.IO END -->

    {% include analytics.html %}
  </body>

</html>
