<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {{ content }}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="javascripts/mailchimp.jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
  	<script src="http://chat.prud.io/client.js?token=77475a1d-d347-4514-b0b3-1f01c1a205ea" async></script>

  </body>
  
</html>
